<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MENU SHIFT</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <h1 id="h-titulo">GESTÃO DE ESTOQUE SHIFT</h1>
    <h2>ESCOLHA UMA OPÇÃO ABAIXO:</h2>
    <br />
    <br />
    <button onclick="window.abrirJanela.abrirJanelaRoupa()">
      ROUPAS EM ESTOQUE
    </button>

    <script src="index.js"></script>
  </body>
</html>
