/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #f2f6fc;
  padding: 20px;
  color: #1a1a1a;
}

/* Título */
h1 {
  text-align: center;
  color: #004aad;
  margin-bottom: 20px;
}

/* Botões */
button {
  background-color: #004aad;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #002e70;
}

input,
select {
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
}

/* Container geral */
.container {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

/* Tabela */
table {
  width: 100%;
  max-width: 700px;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

th {
  background-color: #004aad;
  color: white;
}

/* Modal */
#modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
}

#modal h3 {
  color: #004aad;
  text-align: center;
}

label {
  font-size: 14px;
  color: #333;
  display: flex;
  flex-direction: column;
}

/* Responsivo */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  #filtro-nome {
    width: 100px; /* ou o valor que você preferir */
    display: inline-block;
    margin-right: 10px;
  }

  table {
    max-width: 100%;
  }

  #modal {
    width: 90%;
  }
}
